<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

    <li class="nav-item hidden-xs  ">
        <a href="/Bayi/Index" class="nav-link nav-toggle">
            <i class="fa fa-home"></i>
            <span class="title"> Anasayfa</span>
        </a>
    </li>
    <li class="nav-item hidden-xs ">
        <a href="/Siparis/Index" class="nav-link nav-toggle">
            <i class="fa fa-shopping-cart"></i>
            <span class="title"> Sipariş Oluştur  </span>
        </a>
    </li>
    <li class="nav-item hidden-xs ">
        <a href="/Siparis/Liste" class="nav-link nav-toggle">
            <i class="fa fa-list"></i>
            <span class="title"> Sipariş Listesi</span>
        </a>
    </li>
</ul>



