<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

    <li class="nav-item hidden-xs  ">
        <a href="/Yonetici/Index" class="nav-link nav-toggle">
            <i class="fa fa-home"></i>
            <span class="title"> Anasayfa</span>
        </a>
    </li>

    <li class="nav-item hidden-xs  ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-bank"></i>
            <span class="title"> Bayi Yönetimi</span>

            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/BayiIslem/Kayit" class="nav-link nav-toggle">
                    <span class="title"> Bayi Kayıt</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/BayiIslem/Liste" class="nav-link nav-toggle">
                    <span class="title"> Bayi Listesi</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item hidden-xs  ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-users"></i>
            <span class="title"> Müşteri Yönetimi</span>

            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/Musteri/Liste" class="nav-link nav-toggle">
                    <span class="title"> Müşteri Listesi</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/Musteri/Memnuniyet" class="nav-link nav-toggle">
                    <span class="title"> Müşteri Memnuniyet</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item hidden-xs  ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-object-ungroup"></i>
            <span class="title"> Kategori Yönetimi</span>

            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            @*<li class="nav-item  ">
                <a href="/Kategori/Kayit" class="nav-link nav-toggle">
                    <span class="title"> Kategori Kayıt</span>
                    <span class="arrow"></span>
                </a>
            </li>*@
            <li class="nav-item  ">
                <a href="/Kategori/Liste" class="nav-link nav-toggle">
                    <span class="title"> Kategori Listesi</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item hidden-xs  ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-object-group"></i>
            <span class="title"> Alt Kategori Yönetimi</span>

            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            @*<li class="nav-item  ">
                <a href="/AltKategori/Kayit" class="nav-link nav-toggle">
                    <span class="title"> Alt Kategori Kayıt</span>
                    <span class="arrow"></span>
                </a>
            </li>*@
            <li class="nav-item  ">
                <a href="/AltKategori/Liste" class="nav-link nav-toggle">
                    <span class="title"> Alt Kategori Listesi</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item hidden-xs  ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-opencart"></i>
            <span class="title"> Takım Yönetimi</span>

            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/Takim/Kayit" class="nav-link nav-toggle">
                    <span class="title"> Takım Kayıt</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/Takim/Liste" class="nav-link nav-toggle">
                    <span class="title"> Takım Listesi</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item hidden-xs  ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-hotel"></i>
            <span class="title"> Ürün Yönetimi</span>

            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/Urun/Kayit" class="nav-link nav-toggle">
                    <span class="title"> Ürün Kayıt</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/Urun/Liste" class="nav-link nav-toggle">
                    <span class="title"> Ürün Listesi</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item hidden-xs  ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-list"></i>
            <span class="title"> Özellik Yönetimi</span>

            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            @*<li class="nav-item  ">
                <a href="/OzellikTur/Kayit" class="nav-link nav-toggle">
                    <span class="title"> Özellik Kayıt</span>
                    <span class="arrow"></span>
                </a>
            </li>*@
            <li class="nav-item  ">
                <a href="/OzellikTur/Liste" class="nav-link nav-toggle">
                    <span class="title"> Özellik Türü Listesi</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item hidden-xs  ">
        <a href="#" class="nav-link nav-toggle">
            <i class="fa fa-shopping-cart"></i>
            <span class="title"> Sipariş Yönetimi</span>

            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/MusteriSiparis/Bekleyen" class="nav-link nav-toggle">
                    <span class="title"> Yeni Siparişler</span>
                    <span class="arrow"></span>
                </a>
            </li>
       
            <li class="nav-item  ">
                <a href="/MusteriSiparis/Tamamlanan" class="nav-link nav-toggle">
                    <span class="title"> Tamamlanan Siparişler</span>
                    <span class="arrow"></span>
                </a>
            </li>
       
            <li class="nav-item  ">
                <a href="/MusteriSiparis/Tumu" class="nav-link nav-toggle">
                    <span class="title"> Tüm Siparişler</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </li>

</ul>



